<footer class="footer">

    <div class="footer__wrapper">

        <div class="footer__contacts  contacts">
            <b class="contacts__title">Барбершоп Бородинский</b>
            <p class="contacts__text">
                г. Санкт-Петербург, ул. Большая Конюшенная 19/8<br>
                <a class="contacts__phone" href="">
                    <span class="cotacts__phone-mobile">Тел.:</span> +7 (812) 555-66-66
                </a>
            </p>
        </div>

        <div class="footer__social">
            <b class="social__title">Давайте дружить!</b>
            <ul class="social__list">
                <li class="social__item">
                    <a class="social__link  social__link--vk" href="">
                        <svg class="social-icon">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link  social__link--fb" href="">
                        <svg class="social-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link  social__link--instagram" href="">
                        <svg class="social-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__copyright">
            <b class="copyright__text">Разработано:</b>
            <a class="copyright__link  button" href="">Html Academy</a>
        </div>

    </div>

</footer>