<header class="header">

    <a class="header__logo">
        <img class="header__logo-image" src="../../assets/img/logotype-desktop.png" alt="">
    </a>
    <div class="nav__wrapper">
        <nav class="nav" id="main-nav">
            <ul class="nav__list  site-list">
                <li class="site-list__item  site-list__item--active">
                    <a href="../../index.html">Главная</a>
                </li>
                <li class="site-list__item">
                    <a href="#">Наши работы</a>
                </li>
                <li class="site-list__item">
                    <a href="#">Записаться</a>
                </li>
                <li class="site-list__item">
                    <a href="#">Контакты</a>
                </li>
                <li class="site-list__item">
                    <a href="#">Html Academy</a>
                </li>
            </ul>
        </nav>
        <div class="sandwich" data-target-id="main-nav" data-target-class-toggle="is-active">
            <div class="sandwich__line sandwich__line--top"></div>
            <div class="sandwich__line sandwich__line--middle"></div>
            <div class="sandwich__line sandwich__line--bottom"></div>
        </div>
    </div>

</header>