$white: #fff;
$black: #000000;
$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;

$tablet-width: 1200px;
$mobile-width: 768px;

//Bootstrap Modal
$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: 0.9;